# =========================================
# DEPENDÊNCIAS / BUILD
# =========================================
node_modules/
.pnp
.pnp.js
dist/
build/
.cache/
.temp/
.vercel
.vercel/

# Data
public/uploads/
SincronizarBancosDeDados.txt

# Excel
*.xlsx

# Cobertura de testes
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# AMBIENTES
# =========================================
*.env
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
server/.env*
server/.env.*

# =========================================
# SISTEMA OPERACIONAL / EDITOR
# =========================================
Thumbs.db
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# =========================================
# export/excel
# =========================================
data/export/
data/excel/

# Dentro de C:\Locar\backend\data\
backend/data/
backend/data/export/

# Scripts
scripts/
backend/scripts/

# =========================================
# BINÁRIOS / COMPILADOS / CACHE
# =========================================
*.exe
*.dll
*.pdb
*.so
*.dylib
*.class
*.o
*.obj

# Python cache
__pycache__/
.py
*.py
*.pyc
*.pyo
*.pyd
*.ps1
*.pm2

# Arquivos de Lote
.bat
*.bat

# Compactados temporários
*.zip
*.tar
*.tar.gz
*.rar
*.7z
